<a href="https://colab.research.google.com/github/NikhilJain8000/Data-Science-with-AI-course/blob/main/Data_Structure_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.  Write a code to reverse a string?
s1=input("Enter a string you want to reverse ")
print(s1[::-1])

Enter a string you want to reverse Nikhil Jain
niaJ lihkiN

In [3]:
#2.  Write a code to count the number of vowels in a string?
s2=input("Enter a string ")
count=0
for i in s2:
  if i in "aeiouAEIOU":
    count+=1
print("The number of vowels in your given string is " ,count)

Enter a string Nikhil Jain
The number of vowels in your given string is  4

In [4]:
#3. Write a code to check if a given string is a palindrome or not?
s3= input("Enter a string to check for palindrome ")
palindrome=True
for i in range(len(s3)//2):
  if s3[i]!=s3[-i-1]:
    palindrome=False
    break
if palindrome:
  print("The given string is a palindrome")

Enter a string to check for palindrome naman
The given string is a palindrome

In [7]:
#4. Write a code to check if two given strings are anagrams of each other?
s41=input("Enter the first string ")
s42=input("Enter the second string ")
if sorted(s41)==sorted(s42):
  print("The given strings are anagrams of each other")
else :
  print("The given strings are not anagrams of each other")

Enter the first string secure
Enter the second string rescue
The given strings are anagrams of each other

In [10]:
#5. Write a code to find all occurrences of a given substring within another string?
s51=input("Enter the string ")
s52=input("Enter the substring ")
for i in range(len(s51)):
  if s51[i:i+len(s52)]==s52:
    print("The substring is found at index " ,i)

Enter the string aaabbccddabbcdabbcd
Enter the substring abb
The substring is found at index  2
The substring is found at index  9
The substring is found at index  14

In [3]:
#6. Write a code to perform basic string compression using the counts of repeated characters?
s6=input("Enter a string you want to compress")
compressed_string=''
count=1
for i in range(len(s6)-1):
  if s6[i]==s6[i+1]:
    count+=1
  else:
    compressed_string+=s6[i]+str(count)
    count=1
compressed_string+=s6[-1]+str(count)
print("The compressed string is " ,compressed_string)

Enter a string you want to compressaaaabbccde
The compressed string is  a4b2c2d1e1

In [ ]:
#7. Write a code to determine if a string has all unique characters?
s7=input("Enter a string ")
unique=True
for i in s7:
  if s7.count(i)>1:
    unique=False
    break
if unique:
  print("The given string has all unique characters")

In [13]:
#8. Write a code to convert a given string to uppercase or lowercase?
s8=input("Enter a string ")
print("The uppercase of the given string is " ,s8.upper())
print("The lowercase of the given string is " ,s8.lower())

Enter a string HGSAHndjsf
The uppercase of the given string is  HGSAHNDJSF
The lowercase of the given string is  hgsahndjsf

In [16]:
#9. Write a code to count the number of words in a string?
s9=input("Enter a string  ")
print("The number of words in the given string is " ,len(s9.split()))

Enter a string  my name is nikhil jain
The number of words in the given string is  5

In [5]:
#10. Write a code to concatenate two strings without using the + operator?
s10a=input("Enter the first string ")
s10b=input("Enter the second string ")
combined_string=''
for i in s10a:
  combined_string+=i
for i in s10b:
  combined_string+=i
print('The combined string is ' ,combined_string)

Enter the first string abcd
Enter the second string efgh
The combined string is  abcdefgh

In [15]:
#11. Write a code to remove all occurrences of a specific element from a list?
l1= input("Enter a list using commas in between elements ").split(',')
e1=input("Enter the element you want to remove from the list ")

i = 0  # Index pointer
while i < len(l1):
    if l1[i] == e1:
        l1.pop(i)  # Remove the element
    else:
        i += 1  # Move to the next index only if no removal

# Print the modified list
print("Modified list:", l1)

Enter a list using commas in between elements 12,12,34,556,232,12
Enter the element you want to remove from the list 12
Modified list: ['34', '556', '232']

In [28]:
#12. Implement a code to find the second largest number in a given list of integers?
l2= list(map(int,input("Enter the list elements using commas ").split(",")))
Second_largest_number=sorted(l2)[-2]
print(f"The second largest number in the list is {Second_largest_number}")

Enter the list elements using commas 2342,534523,35,235,234,53
The second largest number in the list is 2342

In [33]:
#13.  Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values?
l3= input("Enter the list elements using commas ").split(",")
occurrences={}
for i in l3:
  if i in occurrences:
    occurrences[i]+=1
  else:
    occurrences[i]=1
print(occurrences)

Enter the list elements using commas apple,banana,apple,banana,orange,orange,orange
{'apple': 2, 'banana': 2, 'orange': 3}

In [34]:
#14. Write a code to reverse a list in-place without using any built-in reverse functions
l4= input("Enter the list elements using commas ").split(",")
l4=l4[::-1]
print(l4)

Enter the list elements using commas 12,43,3,25,234,43,45,4
['4', '45', '43', '234', '25', '3', '43', '12']

In [35]:
#15. Implement a code to find and remove duplicates from a list while preserving the original order of elements?
l5= input("Enter the list elements using commas ").split(",")
unique_list=[]
for i in l5:
  if i not in unique_list:
    unique_list.append(i)
print(unique_list)

Enter the list elements using commas 12,2,3423,44534,543,33,33,33
['12', '2', '3423', '44534', '543', '33']

In [2]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not?
l6=list(map(int, input("Enter your list ").split(',')))
if sorted(l6) == l6 or sorted(l6, reverse=True) == l6:
  print("The given list is sorted")
else:
  print("The given list is not sorted")

Enter your list1,3,45,677,884
The given list is sorted

In [4]:
#17. Write a code to merge two sorted lists into a single sorted list?
l71=list(map(int, input("Enter your list 1 ").split(',')))
l72=list(map(int, input("Enter your list 2 ").split(',')))
l71= sorted(l71)
l72= sorted(l72)
lmerge=sorted(l71+l72)
print(lmerge)

Enter your list 1 1,2,3,6576,87
Enter your list 2 332,4354,54,443,3454
[1, 2, 3, 54, 87, 332, 443, 3454, 4354, 6576]

In [6]:
#18. Implement a code to find the intersection of two given lists?
l81=list(map(int, input("Enter your list 1 ").split(',')))
l82=list(map(int, input("Enter your list 2 ").split(',')))
litc=[]
for i in l81:
  for j in l82:
    if i==j:
      litc.append(i)
      break
    else:
      continue
print("The intersection of two given list is ", litc)

Enter your list 1 1,2,3,6576,87
Enter your list 2 2,2,2,445,644,87
The intersection of two given list is  [2, 87]

In [1]:
#19. Create a code to find the union of two lists without duplicates?
l91=list(map(int, input("Enter your list 1 ").split(',')))
l92=list(map(int, input("Enter your list 2 ").split(',')))
lunion=[]
for i in l91:
  if i not in lunion:
    lunion.append(i)
for j in l92:
  if j not in lunion:
    lunion.append(j)
print("The union of two given list is ", lunion)

Enter your list 1 1,2,3,6576,87
Enter your list 2 2,2,2,445,644,87
The union of two given list is  [1, 2, 3, 6576, 87, 445, 644]

In [2]:
#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions?
l10=list(map(int, input("Enter your list ").split(',')))
import random
# Shuffle the list manually
for i in range(len(l10) - 1, 0, -1):  # Start from the end of the list
    j = random.randint(0, i)  # Get a random index from 0 to i
    # Swap elements at indices i and j
    l10[i], l10[j] = l10[j], l10[i]

# Print the shuffled list
print("Shuffled list:", l10)

Enter your list 1,2,3,6576,87
Shuffled list: [6576, 87, 3, 1, 2]

In [3]:
#21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples?
t11=tuple(map(int, input("Enter your tuple 1 ").split(',')))
t12=tuple(map(int, input("Enter your tuple 2 ").split(',')))
titc=()
for i in t21:
  for j in t22:
    if i==j:
      titc+=(i,)
    else:
      continue
print("The intersection of two given tuple is ", titc)

Enter your tuple 1 1,2,3,6576,87
Enter your tuple 2 2,2,2,445,644,87
The intersection of two given tuple is  (2, 2, 2, 87)

In [4]:
#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets?
s11=set(map(int, input("Enter your set 1 ").split(',')))
s12=set(map(int, input("Enter your set 2 ").split(',')))
sitc=s11.intersection(s12)
print("The intersection of two given set is ", sitc)

Enter your set 1 1,2,3,6576,87
Enter your set 2 2,2,2,445,644,87
The intersection of two given set is  {2, 87}

In [6]:
#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.?
t21=tuple(map(int, input("Enter your tuple 1 ").split(',')))
t22=tuple(map(int, input("Enter your tuple 2 ").split(',')))
tmerge=t21+t22
print("The merged tuple is ", tmerge)

Enter your tuple 1 1,2,3,6576,87
Enter your tuple 2 2,2,2,445,644,87
The merged tuple is  (1, 2, 3, 6576, 87, 2, 2, 2, 445, 644, 87)

In [7]:
#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set?
s21= set(map(str, input("Enter your set 1 ").split(',')))
s22= set(map(str, input("Enter your set 2 ").split(',')))
print('The required set would look like', (s21-s22))

Enter your set 1 apple, banana, mango, grapes
Enter your set 2 apple, pineapple, lichi
The required set would look like {' mango', ' banana', ' grapes'}

In [16]:
#25. & Create a code that takes a tuple and two integers as input. The function should return a new tuple
#containing elements from the original tuple within the specified range of indices?
t3=tuple(map(int, input("Enter your tuple 1 ").split(',')))
print(t3)
a=int(input("Enter the starting index "))
b=int(input("Enter the ending index "))
print (a,b)
if a>b :
  print ('Starting index is bigger than ending please change the values')
  a=int(input("Enter the starting index "))
  b=int(input("Enter the ending index "))
if a>len(t3) or b>len(t3):
  print ('Index values out of range keep them less then the length of the tuple')
  a=int(input("Enter the starting index "))
  b=int(input("Enter the ending index "))
print(t3[a:b+1])

Enter your tuple 1 543634,654,654,3234,2,5434
(543634, 654, 654, 3234, 2, 5434)
Enter the starting index 2
Enter the ending index 4
2 4
(654, 3234, 2)

In [17]:
#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets?
s31= set(map(str, input("Enter your set 1 ").split(',')))
s32= set(map(str, input("Enter your set 2 ").split(',')))
print(s31.union(s32))

Enter your set 1 a,b,d,d,h,h,y,t
Enter your set 2 r,r,g,h,d,j,k
{'y', 'a', 't', 'h', 'd', 'r', 'k', 'b', 'g', 'j'}

In [19]:
#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking?
t4=tuple(map(int, input("Enter your tuple  ").split(',')))
sorted_tuple=sorted(t4)
print(f"The maximum value in the tuple is {sorted_tuple[-1]} and the minimum value in the tuple is {sorted_tuple[0]}")

Enter your tuple  25,464654,7,676,335,647,4
The maximum value in the tuple is 464654 and the minimum value in the tuple is 4

In [20]:
#28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets?
s41=set(map(int, input("Enter your set 1 ").split(',')))
s42=set(map(int, input("Enter your set 2 ").split(',')))
print("The union of two given set is ", s41.union(s42))
print("The intersection of two given set is ", s41.intersection(s42))
print("The difference of two given set is ", s41.difference(s42))

Enter your set 1 346,564,57,467,634674,6746,7
Enter your set 2 6,45356,367,7,564,5845
The union of two given set is  {6, 7, 45356, 346, 367, 634674, 467, 564, 5845, 57, 6746}
The intersection of two given set is  {564, 7}
The difference of two given set is  {634674, 467, 6746, 57, 346}

In [21]:
#29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple?
t5=tuple(map(int, input("Enter your tuple  ").split(',')))
element= int(input(" Enter the element you want to count "))
print(f"The count of {element} in the tuple is {t5.count(element)}")

Enter your tuple  3,34,35,5533,3,3,3,356
 Enter the element you want to count 3
The count of 3 in the tuple is 4

In [23]:
#30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets?
s51= set(map(str, input("Enter your set 1 ").split(',')))
s52= set(map(str, input("Enter your set 2 ").split(',')))
print('The symmetric difference between these sets is', (s51^s52))

Enter your set 1 43543,6,4363436,3434,3,4334,5
Enter your set 2 252,525,255,255,2672,5
The symmetric difference between these sets is {'255', '4334', '3434', '3', '2672', '4363436', '525', '43543', '252', '6'}

In [24]:
#31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list?
l=input("Enter the list words using commas ").split(",")
dict={}
for i in l:
  if i in dict:
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

Enter the list words using commas apple,banana,banana,grapes,papaya
{'apple': 1, 'banana': 2, 'grapes': 1, 'papaya': 1}

In [4]:
#32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together?
d1=eval(input("Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): "))
d2=eval(input("Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): "))
dcomb={}
print(d1.keys())
print(d2.keys())
for i in d1.keys():
  for j in d2.keys():
    if i==j :
        dcomb[i]=d1[i]+d2[j]
    elif i in dcomb.keys() and  j not in dcomb.keys():
        dcomb[j]=d2[j]
    elif i not in dcomb.keys() and  j  in dcomb.keys():
        dcomb[i]=d1[i]
    else:
        continue
print(dcomb)

Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): {'apple':5,'banana':7,'pineapple':8}
Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): {'apple':5,'banana':3,'grapes':10}
dict_keys(['apple', 'banana', 'pineapple'])
dict_keys(['apple', 'banana', 'grapes'])
{'apple': 10, 'banana': 10, 'grapes': 10, 'pineapple': 8}

In [7]:
#33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value.
#If any of the keys do not exist in the dictionary, the function should return None?
# Input a nested dictionary
nested_dict = eval(input("Enter a nested dictionary (e.g., {'a': {'b': {'c': 42}}}): "))

# Input a list of keys
keys = input("Enter the list of keys separated by spaces (e.g., a b c): ").split()

# Traverse the nested dictionary to access the value
current = nested_dict
for key in keys:
    if key in current:
        current = current[key]  # Move deeper into the dictionary
    else:
        current = None  # Key does not exist
        break

# Print the resulting value
print("Value:", current)

Enter a nested dictionary (e.g., {'a': {'b': {'c': 42}}}): {'a': {'b': {'c': 42}}}
Enter the list of keys separated by spaces (e.g., a b c): 42 554 534654 523
Value: None

In [9]:
#34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order?
d=eval(input("Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): "))
print(dict(sorted(d.items(), key=lambda x: x[1])))

Enter a dictionary (e.g., {'key1': 'value1', 'key2': 'value2'}): {'apple':5,'banana':3}
{'banana': 3, 'apple': 5}

In [10]:
#35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
# Input dictionary from the user
original_dict = eval(input("Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): "))

# Initialize an empty dictionary for the inverted result
inverted_dict = {}

# Iterate over the original dictionary
for key, value in original_dict.items():
    if value not in inverted_dict:
        inverted_dict[value] = [key]  # Initialize a new list if the value is not in the inverted dictionary
    else:
        inverted_dict[value].append(key)  # Append the key to the existing list

# Print the inverted dictionary
print("Inverted dictionary:", inverted_dict)

Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): {'a': 1, 'b': 2, 'c': 1}
Inverted dictionary: {1: ['a', 'c'], 2: ['b']}